#
# Kconfig for ROSY drivers
#

menu "Drivers for ROSY"

source "drivers/rosy/fingerprint/Kconfig"

source "drivers/rosy/touchscreen/Kconfig"

source "drivers/rosy/led/Kconfig"

source "drivers/rosy/soc/Kconfig"

source "drivers/rosy/power/Kconfig"

source "drivers/rosy/regulator/Kconfig"

source "drivers/rosy/sound/Kconfig"

config DTS_ROSY
	bool "ROSY DTS"
	select CONFIG_ARCH_SDM450
	help
	  Say Y here to build ROSY DTS.

	  If unsure, say Y.

config LAST_KMSG_ROSY
	bool "Last kernel messages interface"
	select PSTORE
	select PSTORE_CONSOLE
	help
	  Say Y here to enable proc interface used for storing the
	  last kernel messages. The interface is located at
	  /proc/last_kmsg

	  If unsure, say Y.

endmenu
