#
# Kconfig for ROSY drivers
#

menu "Drivers for ROSY"

source "drivers/rosy/fingerprint/Kconfig"

source "drivers/rosy/touchscreen/Kconfig"

source "drivers/rosy/led/Kconfig"

source "drivers/rosy/soc/Kconfig"

source "drivers/rosy/power/Kconfig"

source "drivers/rosy/regulator/Kconfig"

source "drivers/rosy/sound/Kconfig"

endmenu
